<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>coffee-home</title>
<link href="shopping_cart.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
  <div class="row navbar">
    <div class="column logo">Coffee Corner</div>
    <div class="column header-nav">
      <ul class="header-list">
        <li class="header-item">Shop</li>
        <li class="header-item">News</li>
        <li class="header-item">About Us</li>
        <li class="header-item">Contact</li>
      </ul>
    </div>
  </div>
  <div class="jumbotron">
    <div class="tagline">
      <h2>Roasted Fresh Every Day</h2>
      <p>New holiday roasts available now through January 31st</p>
      <a href="#" class="button nav-link">
      <div class="bottom"></div>
      <div class="top">
        <div class="label">Shop Now</div>
        <div class="button-border button-border-left"></div>
        <div class="button-border button-border-top"></div>
        <div class="button-border button-border-right"></div>
        <div class="button-border button-border-bottom"></div>
      </div>
      </a> </div>
  </div>
  <div class="home-page-body">
    <div class="our-partners">
      <h2>Proud Partners of Coffee Corner</h2>
      <div class="partners">
        <div class="partner"> <img src="images/nespresso.png" width="75" height="auto" alt=""/><p>Nespresso</p> </div>
        <div class="partner"> <img src="images/nespresso.png" width="75" height="auto" alt=""/><p>Nespresso</p> </div>
        <div class="partner"> <img src="images/nespresso.png" width="75" height="auto" alt=""/><p>Nespresso</p> </div>
        <div class="partner"> <img src="images/nespresso.png" width="75" height="auto" alt=""/><p>Nespresso</p> </div>
      </div>
    </div>
  <hr>
  <div class="home-page-about">
    <h2>Our Mission Statement</h2>
    <div class="row">
      <div class="column home-about-image"> <img src="images/coffee shop moc owners.png" width="45%" height="auto" alt=""/> </div>
      <div class="column home-about-text">
        <p>&emsp;&emsp;Lorem ipsum dolor sit amet, ex causae urbanitas sea, te ius nibh constituam. Vim cu amet altera, eu vix solet splendide. Diam adhuc laboramus ius cu, choro minimum ut mel. Laoreet nostrum placerat est ei. An duo natum iracundia, nec at magna perpetua partiendo. Consul nullam in mea.</p>
        <p>&emsp;&emsp;Debet similique mea cu, ad putant theophrastus signiferumque quo. Mei at utamur facilisi suavitate, cetero concludaturque ut mel. Exerci populo eam cu. Vel no falli rationibus, probatus deterruisset vis ne. Et mel purto elit iudico. Esse alienum ex nec, vitae facete ut sea, intellegebat consequuntur te sea. Est ex vocent adipiscing, eam an ludus elaboraret.</p>
      </div>
    </div>
  </div>
	  <hr>
	<div class="coffee-scrollbar">
		<h2>Our coffees</h2>
        <div class="fade-container">
			<div class="scrollbar-overlay-left"></div>
			<div class="scrollbar-overlay-right"></div>
          <div class="scrollbar">
            <div class="coffee-display row">
              <div class="coffee left-end"></div>
              <div class="coffee"><img src="images/coffee-cutout_just-black_bag_x284.png" width="auto" height="250"><h4>Coffee flavor</h4></div>
              <div class="coffee"><img src="images/coffee-cutout_just-black_bag_x284.png" width="auto" height="250"><h4>Coffee flavor</h4></div>
              <div class="coffee"><img src="images/coffee-cutout_just-black_bag_x284.png" width="auto" height="250"><h4>Coffee flavor</h4></div>
              <div class="coffee"><img src="images/coffee-cutout_just-black_bag_x284.png" width="auto" height="250"><h4>Coffee flavor</h4></div>
              <div class="coffee"><img src="images/coffee-cutout_just-black_bag_x284.png" width="auto" height="250"><h4>Coffee flavor</h4></div>
              <div class="coffee"><img src="images/coffee-cutout_just-black_bag_x284.png" width="auto" height="250"><h4>Coffee flavor</h4></div>
              <div class="coffee"><img src="images/coffee-cutout_just-black_bag_x284.png" width="auto" height="250"><h4>Coffee flavor</h4></div>
              <div class="coffee" id="center"><img src="images/coffee-cutout_just-black_bag_x284.png" width="auto" height="250"><h4>Coffee flavor</h4></div>
              <div class="coffee"><img src="images/coffee-cutout_just-black_bag_x284.png" width="auto" height="250"><h4>Coffee flavor</h4></div>
              <div class="coffee"><img src="images/coffee-cutout_just-black_bag_x284.png" width="auto" height="250"><h4>Coffee flavor</h4></div>
              <div class="coffee"><img src="images/coffee-cutout_just-black_bag_x284.png" width="auto" height="250"><h4>Coffee flavor</h4></div>
              <div class="coffee"><img src="images/coffee-cutout_just-black_bag_x284.png" width="auto" height="250"><h4>Coffee flavor</h4></div>
              <div class="coffee"><img src="images/coffee-cutout_just-black_bag_x284.png" width="auto" height="250"><h4>Coffee flavor</h4></div>
              <div class="coffee"><img src="images/coffee-cutout_just-black_bag_x284.png" width="auto" height="250"><h4>Coffee flavor</h4></div>
              <div class="coffee"><img src="images/coffee-cutout_just-black_bag_x284.png" width="auto" height="250"><h4>Coffee flavor</h4></div>
              <div class="coffee right-end"></div>
            </div>
            </div>
        </div>
	</div>
<div class="social-media">
	  	<div class="row">
		<div class="column social-media-text">
				<h3>Become one of our 1 million followers now</h3>
			<p>We are the best in coffee and content. Don't just take our word for it though, our 1 million followers seem to agree with us to. So give us a follow @coffeecorner and check out what were up to.</p>
			<button>Follow us now</button>
			</div>
			<div class="column social-media-images">
				<div class="social-tag">@COFFEECORNER</div>
				<div class="image-collage">
					<div class="row image-row"></div>
					<div class="row image-row"></div>
					<div class="row image-row"></div>
				</div>
			</div>
	</div>
	  </div>
	  <div class="email-container">
	  	<h3>Stay up to date on whats going on</h3>
		  <p>Join the Coffee Corner newsletter for news, extra content, and special offers</p>
		  <form>
		  	<input>
			  <button>Submit</button>
		  </form>
	  </div>
	  <footer>
	  	<div class="row"></div>
	  </footer>
</div>
	</div>
	<script src="js/jquery-3.4.1.min.js"></script>
<script src="centerScroll.js"></script>
</body>
</html>
